@layer utilities {
  /**
   * The `.bg` class can be used to set backgrounds. Will use the colorset variables, so to change
   * color you also need a colorset class to work correctly.
   *
   * @location utilities.background Background
   */
  .bg {
    --selection-bg-color: var(--font-color);
    --selection-color: var(--bg-color);

    color: rgb(var(--font-color));
    background: rgb(var(--bg-color));
  }

  .bg:not([class^="cs-"], [class*=" cs-"]) {
    --selection-bg-color: var(--accent-font-color);
    --selection-color: var(--accent-bg-color);

    color: rgb(var(--accent-font-color));
    background: rgb(var(--accent-bg-color));
  }
}
