:root {
  --color-black: 0 0 0;
  --color-white: 255 255 255;
  --color-blue: 20 33 61;
  --color-orange: 252 163 17;
  --color-gray: 229 229 229;
}

@layer components {
  /* ruleset for general button hover (simple invert of font and bg color) */
  .btn {
    --btn-hover-font-color: var(--btn-bg-color);
    --btn-hover-bg-color: var(--btn-font-color);
  }
}

@layer utilities {
  .bg-black {
    --bg-color: var(--color-black);
    --font-color: var(--color-white);
    --accent-color: var(--color-orange);
  }

  .bg-white {
    --bg-color: var(--color-white);
    --font-color: var(--color-black);
    --accent-color: var(--color-orange);
  }

  .bg-blue {
    --bg-color: var(--color-blue);
    --font-color: var(--color-white);
    --accent-color: var(--color-orange);
  }

  .bg-orange {
    --bg-color: var(--color-orange);
    --font-color: var(--color-blue);
    --accent-color: var(--color-gray);
  }
}

/* on orange background change orange button behavior */
.bg.bg-orange .btn.bg-orange {
  --btn-bg-color: var(--color-white);
  --btn-font-color: var(--color-blue);
}
