@property --border-width {
  inherits: true;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-t-width {
  inherits: false;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-r-width {
  inherits: false;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-b-width {
  inherits: false;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-l-width {
  inherits: false;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-x-width {
  inherits: false;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-y-width {
  inherits: false;
  initial-value: 1px;
  syntax: "<length>";
}

@property --border-style {
  inherits: true;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-t-style {
  inherits: false;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-r-style {
  inherits: false;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-b-style {
  inherits: false;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-l-style {
  inherits: false;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-x-style {
  inherits: false;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-y-style {
  inherits: false;
  initial-value: solid;
  syntax: "solid | dashed | dotted | double | groove | ridge | inset | outset | none | hidden";
}

@property --border-color {
  inherits: true;
  initial-value: 40 40 40;
  syntax: "<number>+";
}

@property --border-t-color {
  inherits: false;
  initial-value: undefined;
  syntax: "<number>+ | undefined";
}

@property --border-r-color {
  inherits: false;
  initial-value: undefined;
  syntax: "<number>+ | undefined";
}

@property --border-b-color {
  inherits: false;
  initial-value: undefined;
  syntax: "<number>+ | undefined";
}

@property --border-l-color {
  inherits: false;
  initial-value: undefined;
  syntax: "<number>+ | undefined";
}

@property --border-x-color {
  inherits: false;
  initial-value: undefined;
  syntax: "<number>+ | undefined";
}

@property --border-y-color {
  inherits: false;
  initial-value: undefined;
  syntax: "<number>+ | undefined";
}

:root {
  /**
   * Global border settings. Will be used as fallback.
   *
   * - `--border-width` - set border width
   * - `--border-style` - set border style
   * - `--border-color` - set border color
   *
   * @location variables.border Border
   */
  --border-color: var(--border-color);
  --border-width: var(--border-width-thin);

  /**
   * Border width definition
   *
   * - `--border-width-thin`
   * - `--border-width-medium`
   * - `--border-width-thick`
   *
   * @location variables.border.width Border width
   */
  --border-width-thin: 1px;
  --border-width-medium: 2px;
  --border-width-thick: 4px;
}

@layer utilities {
  /**
   * Using `border` to add borders to all sides of your element.
   * Possible variables are:
   * - **--border-t-width, --border-r-width, --border-b-width, --border-l-width** - set border width directly
   * - **--border-t-style, --border-r-style, --border-b-style, --border-l-style** - set border style
   * - **--border-t-color, --border-r-color, --border-b-color, --border-l-color** - set border color
   *
   * @location utilities.border Border
   * @example
   * <div class="border">Bordered content</div>
   */

  /**
   * Using `bt` to add border top to your element.
   * Possible variables are:
   * - **--border-t-width** - set border width directly
   * - **--border-t-style** - set border style
   * - **--border-t-color** - set border color
   *
   * @location utilities.border.top Border top
   * @example
   * <div class="bt">Top border</div>
   */
  .border,
  .bxy,
  .by,
  .bt {
    --border-t-width: var(--border-width);
    --border-t-style: var(--border-style);
    --border-t-color: var(--border-color);

    border-top: var(--border-t-width) var(--border-t-style) rgb(var(--border-t-color));
  }

  /**
   * Using `br` to add border right to your element.
   * Possible variables are:
   * - **--border-r-width** - set border width directly
   * - **--border-r-style** - set border style
   * - **--border-r-color** - set border color
   *
   * @location utilities.border.right Border right
   * @example
   * <div class="br">Right border</div>
   */
  .border,
  .bxy,
  .bx,
  .br {
    --border-r-width: var(--border-width);
    --border-r-style: var(--border-style);
    --border-r-color: var(--border-color);

    border-right: var(--border-r-width) var(--border-r-style) rgb(var(--border-r-color));
  }

  /**
   * Using `bb` to add border bottom to your element.
   * Possible variables are:
   * - **--border-b-width** - set border width directly
   * - **--border-b-style** - set border style
   * - **--border-b-color** - set border color
   *
   * @location utilities.border.bottom Border bottom
   * @example
   * <div class="bb"">Bottom border</div>
   */
  .border,
  .bxy,
  .by,
  .bb {
    --border-b-width: var(--border-width);
    --border-b-style: var(--border-style);
    --border-b-color: var(--border-color);

    border-bottom: var(--border-b-width) var(--border-b-style) rgb(var(--border-b-color));
  }

  /**
   * Using `bl` to add border left to your element.
   * Possible variables are:
   * - **--border-l-width** - set border width directly
   * - **--border-l-style** - set border style
   * - **--border-l-color** - set border color
   *
   * @location utilities.border.left Border left
   * @example
   * <div class="bl">Left border</div>
   */
  .border,
  .bxy,
  .bl,
  .bx {
    --border-l-width: var(--border-width);
    --border-l-style: var(--border-style);
    --border-l-color: var(--border-color);

    border-left: var(--border-l-width) var(--border-l-style) rgb(var(--border-l-color));
  }

  /**
   * Using `bxy` to add borders for the x and y axis to your element.
   * Possible variables are:
   * - **--border-x-width, --border-y-width** - set border width directly
   * - **--border-x-style, --border-y-style** - set border style
   * - **--border-x-color, --border-y-color** - set border color
   *
   * @location utilities.border.xy Border y-axis and x-axis
   * @example
   * <div class="bxy">XY borders</div>
   */
  /**
   * Using `by` to add borders top and bottom with same size to your element.
   * Possible variables are:
   * - **--border-y-width** - set border width directly
   * - **--border-y-style** - set border style
   * - **--border-y-color** - set border color
   *
   * @location utilities.border.y Border y-axis
   * @example
   * <div class="by">Y-axis borders</div>
   */
  /**
   * Using `bx` to add borders left and right with same size to your element.
   * Possible variables are:
   * - **--border-x-width** - set border width directly
   * - **--border-x-style** - set border style
   * - **--border-x-color** - set border color
   *
   * @location utilities.border.x Border x-axis
   * @example
   * <div class="bx">X-axis borders</div>
   */
  .bxy,
  .by {
    --border-y-width: var(--border-width);
    --border-y-style: var(--border-style);
    --border-y-color: var(--border-color);

    --border-t-width: var(--border-y-width);
    --border-b-width: var(--border-y-width);
    --border-t-style: var(--border-y-style);
    --border-b-style: var(--border-y-style);
    --border-t-color: var(--border-y-color);
    --border-b-color: var(--border-y-color);
  }

  .bxy,
  .bx {
    --border-x-width: var(--border-width);
    --border-x-style: var(--border-style);
    --border-x-color: var(--border-color);

    --border-l-width: var(--border-x-width);
    --border-r-width: var(--border-x-width);
    --border-l-style: var(--border-x-style);
    --border-r-style: var(--border-x-style);
    --border-l-color: var(--border-x-color);
    --border-r-color: var(--border-x-color);
  }

  /**
   * Common border style utilities for quick application.
   *
   * @location utilities.border.styles Border styles
   * @example
   * <div class="border border-solid mt">Dashed border</div>
   * <div class="border border-dashed mt">Dashed border</div>
   * <div class="border border-dotted mt">Dashed dotted</div>
   * <div class="border border-none mt">Dashed none</div>
   */
  .border-solid {
    --border-style: solid;
  }

  .border-dashed {
    --border-style: dashed;
  }

  .border-dotted {
    --border-style: dotted;
  }

  .border-none {
    --border-style: none;
  }
}
